@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #848484;
    background: #fff;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline-block;
}

/* Utilities
====================================================================================*/

.u-gutter-xl-top {
    padding-top: 60px;
}

.u-gutter-xl-bottom {
    padding-bottom: 95px;
}

.u-gutter-lg-top {
    padding-top: 54px;
}

.u-gutter-lg-bottom {
    padding-bottom: 61px;
}

.u-gutter-md-top {
    padding-top: 52px;
}

.u-gutter-md-bottom {
    padding-bottom: 54px;
}

.u-gutter-sm-top {
    padding-top: 51px;
}

.u-gutter-sm-bottom {
    padding-bottom: 50px;
}

/* Layouts
====================================================================================*/

.l-section--border-top-line {
    border-top: 10px solid #d4213d;
}

.l-section--bg-1 {
    background-image: url('../img/bg-1.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 610px;
    background-position: 0% 50%;
}

.l-inner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 5px;
}

.l-hero {
    padding: 169px 0 0 124px;
}

.l-container--bg-gray {
    background-color: #e3e3e3;
}

/* Components
====================================================================================*/

/*STYLE-GUIDE======================================================================= */

.c-sample-header {
    display: flex;
    align-items: center;
    margin-top: 100px;
    font-size: 100px;
    font-weight: 300; }
  
.c-sample-component {
    border: solid 1px #ddd;
    width: 100%;
    margin-bottom: 20px; }
  
.c-sample-component__name::before {
    content: 'Class name:';
    color: #555;
    font-size: 16px;
    font-weight: 300;
    padding-right: 10px; }
  
.c-sample-component__name {
    font-size: 16px;
    background-color: #eaeaf4;
    color: #555;
    font-style: italic;
    font-weight: 600;
    border: solid 1px #eee;
    width: 100%;
    padding: 10px; }
  
.c-sample-component__item {
    border: solid 1px #eee;
    width: 100%;
    padding: 20px; }
  
.c-sample-component__item--no-padding {
    padding: 20px 0;
    border: none; }
  
/*ICONS-DESC
====================================================================================*/

.c-desc-box {
    display: flex;
}

.c-desc-box__media {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.c-desc-box__icon-wrapper {
    background-color: #d4213d;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.c-desc-box__desc {
    max-width: 320px;
}

.c-desc-box__icon-wrapper + .c-desc-box__text {
    padding-top: 26px;
}

.c-desc-box__comment + .c-desc-box__desc {
    padding-top: 15px;
}

.c-desc-box__comment {
    font-family: "Roboto", sans-serif;
}

.c-desc-box__text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* SIMPLE LIST
====================================================================================*/ 

.c-simple-list {
    display: flex;
    justify-content: space-between;
}

.c-simple-list__item {
    width: 33.3%;
}

/*  SIMPLE LIST --icon
====================================================================================*/

.c-simple-list--icon {
    width: 100%;
    max-width: 1180px;
}

.c-simple-list--icon .c-simple-list__item {
    max-width: 320px;
}

@media only screen and (max-width: 768px) {
    .c-simple-list--icon {
        flex-direction:  column;
    }  
    .c-simple-list--icon .c-simple-list__item {
        width: 100%;
        max-width: 100%;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .c-simple-list--icon {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }  
    .c-simple-list--icon .c-simple-list__item {
        width: 100%;
        max-width: 50%;
        padding-bottom: 30px;
    }
}

/*ICONS-SMALL====================================================================================*/

.c-desc-box__icon-wrapper--small {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.c-desc-box__icon-small {
    opacity: 0.8;
}

.c-desc-box__icon-wrapper--small:hover {
    background-color: #d4213d;
    transition: all 0.2s ease-in-out;
}

.c-desc-box__icon-wrapper--small:hover .c-desc-box__icon-small {
    opacity: 1;
}

/* SIMPLE LIST--icon--small
====================================================================================*/ 

.c-simple-list--small {
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.c-simple-list--small .c-simple-list__item {
    width: 33.3%;
}

.c-simple-list--icon--small {
    width: 100%;
    max-width: 190px;
}

.c-simple-list--icon--small .c-simple-list__item-small {
    max-width: 53px;
}

.c-hero-img__comment {
    width: 100%;
    max-width: 380px;
}

.c-hero-img__logo + .c-hero-img__comment {
    padding-top: 26px;
}

.c-hero-img__comment + .c-hero-img__icon-simple-list {
    padding-top: 20px;
}

.c-dot {
    color: #d4213d;
}

/*  NEWSLETTER-FORM
====================================================================================*/

.c-newsletter-box {
    width: 50%;
}

.c-form {
    display: flex;
}

.c-form__input {
    width: 306px;
    height: 56px;
    border: 1px solid #c8c8c8;
    border-radius: 15px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #848484;
    padding-left: 24px;
    border-right: 0;
}

.c-form__button {
    border: none;
    height: 56px;
    width: 141px;
    border-radius: 0 15px 15px 0;
    background-color: #d4213d;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #fff;
}

/*  NEWSLETTER-FORM-WRAPPER
====================================================================================*/

.c-newsletter-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.c-newsletter-box {
    width: 50%;
}

.c-newsletter-box__heading + .c-newsletter-box__comment {
    padding-top: 14px;
}

.c-newsletter-box__comment + .c-newsletter-box__form {
    padding-top: 20px;
}

.c-newsletter-box__decs {
    max-width: 545px;
}

.c-newsletter-box__media {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    .c-newsletter-wrapper {
        flex-direction:  column;
        justify-content: center;
    }  
    .c-newsletter-box {
        width: 100%;
        max-width: 100%;
        padding-bottom: 30px;
    }

    .c-newsletter-box__desc{
        max-width: 500px;
        margin: 0 auto;
    }

    .c-newsletter-box__media{
        display: flex;
        justify-content: center;
    }
}

/*CAROUSEL
====================================================================================*/

.c-simple-carousel-list {
    display: flex;
}

/*ICONS-SOCIAL
====================================================================================*/

.c-desc-box__icon-social-wrapper {
    background-color: #d4d4d4;
    border-radius: 50%;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.c-desc-box__icon-social-wrapper:hover {
    background-color: #d4213d;
    transition: all 0.2s ease-in-out;
}

.c-simple-list--small .c-simple-list__item--icon-social {
    width: 16.6%;
    max-width: 34px;
}

.c-simple-list--icon-social {
    width: 100%;
    max-width: 255px;
}

/*SOCIAL MEDIA WRAPPER
====================================================================================*/

.c-social-media-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.c-social-media-box__comment--1 {
    width: 100%;
    max-width: 890px;
    text-align: center;
    margin: 0 auto;
}

.c-social-media-box__comment, .c-social-media-box__heading, .swiper-container, .c-social-media-box__simple-list-icon-social {
    display: flex;
    justify-content: center;
}

.c-social-media-box__comment + .c-social-media-box__heading,
.c-social-media-box__heading + .c-social-media-box__comment {
    padding-top: 18px;
}

.c-social-media-box__heading + .swiper-container {
    margin-top: 26px;
}

.swiper-container + .c-social-media-box__heading {
    padding-top: 57px;
}

.c-social-media-box__comment + .c-social-media-box__simple-list-icon-social {
    padding-top: 20px;
}

/*SWIPER
====================================================================================*/

.swiper-container {
    width: 1150px;
    height: 50px;
    z-index: 1;
    position: relative;
    padding: 0;
}

.swiper-container--slidebox:after,
.swiper-container--slidebox:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 50px;
    width: 50px;
}

.swiper-container--slidebox:before {
    left: 0;
    background: linear-gradient(to left, transparent, #fff);
}

.swiper-container--slidebox:after {
    right: 0;
    background: linear-gradient(to right, transparent, #fff);
}

.swiper-container,
.swiper-slide,
.c-simple-carousel-list {
    display: flex;
    width: 1150px;
}

.swiper-slide,
.c-simple-carousel-list__item {
    display: block;
    width: 50px;  
    height: 50px;  
}

/*FOOTER
====================================================================================*/

.c-footer{
    display: flex;
    justify-content: center;
}

.c-simple-list-footer {
    width: 100%;
    max-width: 540px;
    display: flex;
    justify-content: space-between;
}

.c-simple-list-footer__item__link {
    color: #848484;
}

@media only screen and (max-width: 768px) {
    .c-simple-list-footer {
        flex-direction: column;
        justify-content: center;
    }  
    .c-simple-list-footer__item {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
} 

/*HEADING
====================================================================================*/

.t-heading-1 {
    font-family: 'Gochi Hand', cursive;
    color: #fff;
    margin: 0;
    font-size: 60px;
    font-weight: 400;
}

.t-heading-2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.t-heading-3 {
    color: #000000;
    margin: 0;
    font-size: 22px;
    font-weight: 400; 
}

.t-heading-4 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
}

.t-heading-5 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
}

.t-heading-6 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

/*TEXT
====================================================================================*/

.t-text-1 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.t-text-2 {
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
}
